html,
body {
  height: 100%;
}



body {
  color: $title;
  font-size: 16px;
  font-family: 'Ubuntu';
  font-weight: 400;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $title;
  font-size: 16px;
  font-family: 'Ubuntu';
  font-weight: 400;
}

button {
  background-color: transparent;
}

.title {
  font-family: 'BodoniMT';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: $title;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.sr-only {
  display: none;
}