$accent: #199817;
$default: #8d8d8d;
$title: #1e1e1e;
$bg: #f6f6f6;

%ubuntu-400 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

%ubuntu-500 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

%ubuntu-700 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

%bodoni-400 {
  font-family: 'Bodoni MT', serif;
  font-weight: 400;
}

%bodoni-700 {
  font-family: 'Bodoni MT', serif;
  font-weight: 700;
}

%btn {
  background-color: $accent;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Ubuntu';
  padding: 19px 35px;
  box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
  cursor: pointer;
}