<section class="top-slider">
  <div class="top-slider__inner">
    <div class="top-slider__item">
      <img class="top-slider__img" src="images/banner_slider/banner1.jpg" alt="slide image 2">
    </div>

    <div class="top-slider__item">
      <img class="top-slider__img" src="images/banner_slider/banner1.jpg" alt="slide image 2">
    </div>

    <div class="top-slider__item">
      <img class="top-slider__img" src="images/banner_slider/banner1.jpg" alt="slide image 2">
    </div>

    <div class="top-slider__item">
      <img class="top-slider__img" src="images/banner_slider/banner1.jpg" alt="slide image 2">
    </div>
  </div>
</section>