<section class="video">
  <div class="container">
    <div class="video__inner">
      <blockquote class="quote">
        <img class="quote__foto" src="images/quote.png" alt="George Bernard Shaw's photo">

        <p class="quote__blockquote">
          If you have an apple and I have an apple, and we exchange apples, you and I each have one apple. But if
          you
          have an idea and I have an idea and we exchange them, we each have two ideas.
        </p>

        <span class="quote__author">
          George Bernard Shaw
        </span>
      </blockquote>

      <a data-fancybox class="video__link" href="https://youtu.be/m2mK9X7XcQc"
        style="background-image: url('../images/video.jpg')">
        <span class="sr-only">Video about Idea Farm</span>
      </a>
    </div>
  </div>
</section>